body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div {
    margin: 0;
    padding: 0;
    border: 0;
}

html,body {
	color: #666;
	width: 100%;
	color: #999;
	font-size: 12px;
	background-color: #f7f7f7;
}

ul,ol {
    list-style-type:none;
}

.touch-highlight:active {
	transfomr: scale(0.9);
	-webkit-transfomr: scale(0.9);
	-moz-transfomr: scale(0.9);
	-o-transfomr: scale(0.9);
	box-shadow: 0px 0px 20px #fff;
	-webkit-box-shadow: 0px 0px 20px #fff;
	-moz-box-shadow: 0px 0px 20px #fff;
	-o-box-shadow: 0px 0px 20px #fff;
}

a {
	color: #27ae61;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.current-page {
	width: 100%;
}